*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#021520;
    color:white;
    overflow-x:hidden;
}

/* HEADER */

header{
    min-height:100vh;

    background:
    linear-gradient(
        rgba(0,0,0,.45),
        rgba(0,0,0,.65)
    ),
    url("https://images.unsplash.com/photo-1516321318423-f06f85e504b3?auto=format&fit=crop&w=1600&q=80");

    background-size:cover;
    background-position:center;
}

/* NAVBAR */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 80px;
}

.logo{
    font-size:45px;
    font-weight:bold;
    color:#7ef9ff;
    text-shadow:0 0 15px #00fff7;
}

.logo span{
    margin-right:10px;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:40px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:.3s;
}

nav ul li a:hover{
    color:#00fff7;
}

/* HERO */

.hero{
    height:85vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero-content{
    max-width:900px;
}

.hero h1{
    font-size:72px;
    line-height:1.1;
    margin-bottom:25px;
    animation:fadeIn 1.5s ease;
}

.hero p{
    font-size:24px;
    color:#d9e3ea;
    line-height:1.6;
    margin-bottom:40px;
}

/* BUTTON */

button{
    padding:18px 45px;
    border:none;
    border-radius:50px;

    background:#83ff92;
    color:#052f17;

    font-size:22px;
    font-weight:bold;
    cursor:pointer;

    transition:.4s;
}

button:hover{
    transform:translateY(-5px);
    box-shadow:0 0 25px #83ff92;
}

/* GLOW EFFECTS */

header::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;

    background:
    radial-gradient(circle,#00ffee33 1px,transparent 1px);

    background-size:40px 40px;
    pointer-events:none;
}

/* ANIMATION */

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(50px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* RESPONSIVE */

@media(max-width:768px){

    nav{
        flex-direction:column;
        gap:20px;
        padding:20px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
    }

    nav ul li{
        margin:10px;
    }

    .hero h1{
        font-size:42px;
    }

    .hero p{
        font-size:18px;
    }
}